<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeeBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeeBook.Properties.Settings>
            <setting name="debug_message" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="prevent_duplicate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="date_as_note" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="success_message" serializeAs="String">
                <value>True</value>
            </setting>
        </KeeBook.Properties.Settings>
    </userSettings>
</configuration>